.body{
  margin: 0%;
  background-color: rgb(167, 209, 195);
}
h1{
  font-family: 'Noto Serif', serif;
  color: rgba(21, 56, 19, 0.781);
  font-size: 200px;
  background-color: rgba(112, 170, 156, 0.829);
}
h2{
  color: rgba(21, 56, 19, 0.781);
  background-color:rgba(112, 170, 156, 0.829);
  font-family: 'Noto Serif', serif;
}